.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  width: 400px;
  height: 450px;
  /* background-color: black; */
}

.row {
  display: flex;
  width: 100%;
}

